::selection {
    background-color: #7479B380;
    color: #fff;}
::-moz-selection {
    background-color: #7479B380;
    color: #fff;}
:focus {
    outline-color: transparent;
    outline-width: 0;}
.bi {
    vertical-align: -.125em;
    fill: currentColor;}
.blur{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);}

 #qrcode img { border-radius: 10px;}